.chatbody {
    background-image: url('chatbot.avif');
    background-color: rgba(255, 255, 255, 0.4);
    height: 650px;
    background-size: auto 700px;
    background-repeat: repeat-x;
    background-position: center; 
  }
  
.chatbody::before { 
    content: '';
    display: block;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); 
  }
  
  .light .navbar input[type="checkbox"],
  .light .navbar .hamburger-lines {
    display: none;
  }
  
  .light .navbar {
    position: fixed;
    width: 100%;
    background: transparent;
    color: #000;
    opacity: 0.85;
    height: 50px;
    z-index: 12;
  }
  
  .light .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 74px;
    align-items: center;
  }
  
  .light .menu-items {
    order: 2;
    display: flex;
  }
  
  .light  .menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  
  .light  .menu-items a {
    position:absolute;
    top:23px;
    left:80px;
    text-decoration: none;
    color: #085CAB;
    font-size:40px;
    font-weight: 500;
    font-family:"Inter";
    transition: color 0.3s ease-in-out;
  }
  
  #theme-icon {
    color: black; 
  }
  
  .light  #theme-icon.sun {
    color: yellow;
    } 
   
    .light .navbar .button1 {
   position: absolute;
    top: 25px;
    right: 95px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 25px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  .light .navbar .button1 i {
    margin-right: 5px;
    font-size: 20px;
  }
  
  .light .button1 .fas.fa-moon {
  position:absolute;
  top:10px;
  right:240px;
    font-size: 1.4em;
  }
  
  .light .button1 .fas.fa-sun{
  position:absolute;
  top:10px;
  right:240px;
    font-size: 1.4em;
  }
  
  .light .fas.fa-moon {
    color: black;
    font-size: 5em;
  }
  
  .light .fas.fa-user{
  position:absolute;
  top:30px;
  right:250px;
    font-size: 2.4em;
     color:black;
     }
  
     .light .navbar .button {
  
    position: absolute;
    top: 25px;
    right: 80px;
    font-family:"Inter";
   padding: 12px 24px;
    font-size: 18px;
    background-color:  #085CAB;
    color: white;
    text-decoration: none;
    border-radius: 20px;
  }
  
  
  .light .input{
    position : absolute;
    top:18%;
    left:13%;
    width:550px;
    height:550px;
    border-radius:10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 25px 25px 65px 25px;
    background: rgba(217, 217, 217, 0.8);
    padding: 10px;
    font-size: 18px;
  }
    
  .light #text-box {
    position : absolute;
    top:18%;
    left:51%;
    width:550px;
    height:550px;
    border-radius:10px;
    border-style: solid ;
    border-width: 25px 25px 65px 25px;
    border-color: #BBE3F0;
    background: #216FB933;
    padding: 10px;
    font-size: 18px; 
  }
  
  .light .chat-submit {
   font-family:"Inter";
   font-size:18px;
      position: absolute;
      top:80%;
      right: 52%;
      background-color: #216FB9;
      color: white;
      border: none;
      border-radius: 20px;
      width: 120px;
      height: 47px;
      cursor: pointer;
   }
    
   .light .clipboard-icon {
    position:absolute;
    top:80%;
    right:15%;
     font-size: 30px;
    background-color: transparent;
    cursor: pointer;
  }